* {
  margin: 0;
  padding: 0;
}

.canvas {
  z-index: 99;
}

.frog {
  display: inline-block;
  width: 10vw;
  padding: 0 .5em;
}

li img {
  width: 100%;
}

ul {
  position: relative;
  text-align: center;
  padding-top: 25vw;
  min-width: 700px;
}

#background {
  position: fixed;
  width: 100vw;
  height: auto;
  z-index: -1;
}